/partial_discharge_project/logs/
/partial_discharge_project/data/
/partial_discharge_project/outputs/
/partial_discharge_project/station_52008/
/features/2_feature_engineering/
/features/3_feature_comb_expansion/
/features/4_feature_selection/
/reports/
/results/
/models/trained/
/__pycache__/
*.pyc
/.idea/
/experiment_results.csv
/partial_discharge_compare/dataset/
latex/main.bcf
dataset/
latex/chap2.aux
latex/chap3.aux
latex/chap4.aux
step1_feature_engineering.py
step2_feature_expansion.py
step3_feature_selection.py
step4_model_training.py
step5_evaluation.py
antigravity_results/
latex/chap1.aux
latex/frontpage.aux
latex/main.bcf-SAVE-ERROR
latex/main.bbl-SAVE-ERROR
latex/main.fls
latex/main.lof
latex/main.lot
latex/main.aux
latex/main.bbl
latex/main.blg
latex/main.fdb_latexmk
latex/main.log
latex/main.pdf
latex/main.run.xml
latex/main.suc
latex/main.syc
latex/main.synctex.gz
latex/extract_contentt_to_tex.py
latex/filter_combined_output.py
latex/finalize_chap5_citations.py
latex/frontpage.tex
latex/improve_chap5_citations.py
latex/journal_article.tex
latex/.latexmkrc
latex/xelatex1616.fls
latex/xelatex1692.fls
latex/xelatex4760.fls
latex/xelatex16044.fls
latex/xelatex17508.fls
latex/xelatex18836.fls
latex/xelatex19092.fls
latex/xelatex19896.fls
latex/xelatex20328.fls
outputs/
latex/graphic/mljar_result1.png
latex/BibThesis.bib.backup
latex/main.tex
mock_dataset/
